@model List<Disk>
@{
    ViewBag.Title = "Disk Manager";
}
<h1>@ViewBag.Title</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Disk ID</th>
            <th>Disk Name</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Format</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disk in Model)
        {
        <tr>
            <td>@disk.DiskId</td>
            <td>@disk.DiskName</td>
            <td>@disk.ReleaseDate</td>
            <td>@disk.Genre.Description</td>
            <td>@disk.DiskType.Description</td>
            <td>@disk.Status.Description</td>

        </tr>
        }
    </tbody>
</table>

